*
{
    color: white;
    font-family: monospace;
}
.card
{
    max-width: 1120px;
    /* height: 100vh; */
    margin-inline: auto;
    display: grid;
    place-items: center;
}
.card-article
{
    position: relative;
    width: 320px;
    box-shadow: 0 8px 24px hsla(150, 62%, 16%, 0.2);
    border: 8px solid white;
    border-radius: 5.5rem;
    padding: 2rem 1rem 1.5rem;
    text-align: center;
    overflow: hidden;
}

.card-bg-img
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s;
}

.card-data,
.card-action
{
    position: relative;
    z-index: 10;
    color: var(--white-color);
}
.card-profile
{
    width: 80px;
    border: 4px solid var(--white-color);
    border-radius: 50%;
    margin: 0 auto .5rem;
}
.card-name
{
    font-size: var(--h3-font-size);
    font-weight: 600;
    margin-bottom: .5rem;
}
.card-description
{
    font-size: var(--small-font-size);
    font-weight: 300;
    margin-bottom: 1.75rem;

}

.card-article:hover .card-bg-img
{
    transform: scale(1.2); 
}





