body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #000000ea, #bf8637fc);
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
}

/* NAVBAR BASE */
.custom-nav {
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255, 254, 252);
  border-radius: 38px;
  margin: 20px;
  /* position: fixed; */
  /* width: 96%; */
  /* position: sticky; */
  background-color: rgba(255, 255, 255, 0.164);
}

/* LOGO */
.logo {
  color: #af4261;
  background-color: #af4261;
  font-size: 26px;
  font-weight: bold;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  color: transparent;
}

/* NAV ITEMS (Glass rounded style) */
.nav-pill {
  padding: 8px 18px;
  margin: 0 5px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #000000;
  transition: 0.3s;
  font-size: 15px;
}

/* ACTIVE ITEM (Orange background like screenshot) */
.nav-pill.active {
  background: #ff6a00;
  border-color: #ff6a00;
  color: #fff !important;
}

/* Hover effect */
.nav-pill:hover {
  background: rgba(255, 255, 255, 0.1);
  /* color: #ff6a00; */
  background-color: #ff6a00;
  color: white;
}

/* Resume Button */
.resume-btn {
  padding: 8px 18px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #000000;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
}

.resume-btn:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* MOBILE FIX */
@media (max-width: 992px) {

  .nav-pill,
  .resume-btn {
    margin: 8px 0;
  }
}
.pop-out {

  opacity: 0;
  transform: scale(0.8);
  animation: pop 0.8s ease-out forwards;
}

@keyframes pop {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media (min-width:582px)
{
  .name-sentence
  {
     margin-top: 7rem;
  font-size: 8vh;
  }

  /* hobby-img-div */
}
@media (max-width:582px)
{
  .name-sentence
  {
    font-size: 6vh;
  }
}
/* .name-sentence
{
  margin-top: 7rem;
  font-size: 8vh;
  
} */
.yuvraj
{
  /* font-size: 10rem; */
  font-size: 20vh;
}
@media (max-width:992px)
{
  .yuvraj
  {
    font-size: 15vh;
  }
  
}
.yuvraj::first-letter
{
  color: #ff6a00;
}
.yuvraj-quote
{
  color: #ff6a00;
  font-family: cursive;
}
.contact-header-icons
{
  font-size:5vh ;
  position: relative;
  transition-duration: 0.4s;
}
.contact-header-icons:hover
{
  /* top: -20px; */
  transform: scale(1.2,1.2);
}
.header-icon-link
{
  text-decoration: none;
  color:  rgb(34, 34, 34);
  
}
/* .instagram-icon:hover
{
  color: #ee8f13;
  
} */
.about-me-yuvraj
{
  border: 2px solid orange;
  border-radius: 3rem;
  box-shadow: 5px 5px 5px rgba(243, 133, 8, 0.432), -2px -2px 5px rgb(10, 10, 10);
  height: 40vh;

}
.about-me-heading::first-letter
{
  color: #ff6a00;
}
.more-about-me-heading::first-letter
{
  color: #ff6a00;
}
.hobbie-heading
{
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 2rem;
}
.hobbie-heading:hover
{
  background-color: #fff;
}

/* .hobbie-heading::first-letter{
  color: #ff6a00;
} */
.about-me-para
{
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid transparent;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.372);
  backdrop-filter: blur(2px);
  padding: 1rem;
}
@media (min-width:992px)
{
  .about-me-para
  {
    line-height: 2rem;
  }
}

.education-heading::first-letter
{
  color: #ff6a00;
}


/* hobbie section card css */
.hobby-card {
  border-radius: 1.4rem;
  overflow: hidden;
  border: transparent;
}

.hobby-img-div {
  height: 70%;
  position: relative;
 
}
.card-para-div
{
  position: absolute;
  bottom: 0.5rem;
}
.hobby-img-div:hover img{
  transform: scale(1.1);
}

.hobby-img-div img {
  height: 100%;
  object-fit: cover;
   transition: transform 0.4s;
}


/* .hobby-overlay {
  position: absolute;
  inset: 0;
  padding: 1rem;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.75));
} */

.card-body-about {
  height: 30%;
  background-color: #0d0d0d;
}

.card-title {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

@media (min-width:1200px)
{
  /* about me div on large screen */
  .about-me-div
  {
    height: 400px;
    padding: 2rem;
  }
  .about-me-para
  {
    word-spacing: 0.5rem;
  }
}

.skills-heading::first-letter
{
  color: #ff6a00;
}

.section-headings-underline:hover ::after
{
  transform: scaleX(1);
}
.section-headings-underline
{
  width: max-content;
  size: 72px;
  position: relative;
  cursor: pointer;
  margin: 100px auto;
}
.section-headings-underline::after
{
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 100%;
  left: 0;
  background-color: #000000;
  transition: 0.4s ease-in-out;
  transform: scaleX(0);
}

.skill-card-img:hover
{
  transform: scale(1.1);
}
.skill-card-img
{
  transition: 0.4s ease;
}
.skill-card
{
  overflow: hidden;
  background-color:#ffffff65;
}

footer
{
  /* height: 50vh; */
  background-color: #262525;
  color: white;
  font-style: italic;
}
.footer-logo
{
  font-family: cursive;
  color: #ff6a00;
  font-size: 5vh;
}
/* .footer-logo-div
{

} */
 .form-input
 {
    width: 400px;
    border-radius: 1rem;
    border: transparent;
    background-color: rgb(255, 254, 254);
 }

 @media (min-width:992px)
 {
  form{
    margin-top: 150px;
  }
  .form-input
  {
    width: 60%;
  }
 }
 .heart-icon{
  color: red;
 }


 .send-icon
 {
  height: 20px;
  width: 20px;
 }

 .hobbie-side-para
 {
  color: rgba(255, 255, 255, 0.57);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;

 }
 .footer-icons
 {
  color: white;
 }
 .footer-icon-link
 {
  color: white;
  text-decoration: none;
 }
.footer {
  background: #222221;
  color: #ffffff;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.footer form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer input,
.footer textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.footer textarea {
  resize: none;
  height: 80px;
}

.footer button {
  padding: 10px;
  border: none;
  background: #98d9f4;
  color: #000000;
  /* font-weight: bold; */
  cursor: pointer;
  border-radius: 5px;
}

.footer button:hover {
  background: #0ea5e9;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.social-icons a {
  font-size: 22px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  opacity: 0.8;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}


.email-id
{
  color: white;
  text-decoration: none;
  
}